.about-content{
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: var(--content-gap);   
}

.about-social-medias{
    width: 100%;
    justify-content: center;
    gap: var(--content-gap);
    display: flex;
    align-items: center;   
    margin: var(--content-margin);
    flex-wrap: wrap;
}