.footer {
     width: 100%;
     display: flex;
     align-items: center;
     flex-direction: column;
     margin-top: 120px;
     background-color: var(--dark-color);
}

.footer-content {
     display: flex;
     flex-wrap: wrap;
     padding: 120px 0;
}

.footer-content-cl {
     width: 50%;
     display: flex;
     flex-direction: column;
     gap: var(--content-gap);
}

.footer-content-cl svg path {
     fill: white;
     color: white;
}

.footer-content-cl p {
     color: rgba(255, 255, 255, 0.7);
}

.footer-content-cl.links {
     gap: 20px;
     align-items: center;
}


.footer-content-cl li {
     padding: var(--button-padding);
     background: transparent;
     border-radius: var(--button-border-radius);
     display: flex;
     align-items: center;
     justify-content: center;
     transition: all 0.25s ease;
     font-size: var(--header-link-size);
     font-weight: bold;
     color: var(--light-color);
     cursor: pointer;
}

.footer-content-cl li:hover {
     transform: scale(1.05);
     background: rgba(255, 255, 255, 0.2);
}

.footer-content-cl li:active {
     background: rgba(255, 255, 255, 0.1);
}

@media screen and (max-width: 1160px) {
     .footer-content {
          align-items: center;
          gap: var(--content-gap);
     }

     .footer-content-cl {
          width: 100%;
          align-items: center;
     }
}