@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

:root {
  --container-width: 100%;
  --container-max-width: 1100px;
  --content-template-col: repeat(2, 1fr);
  --content-template-row: repeat(2, 1fr);
  --content-gap: 60px;
  --content-col-gap: 40px;
  --content-row-gap: 100px;
  --button-border-radius: 50px;
  --content-border-radius: 5px;
  --button-padding: 15px 30px;
  --transition: all 0.25s cubic-bezier(.51, .92, .24, 1.15);
  --accent-color: #7361E0;
  --light-color: #fff;
  --dark-color: #191049;
  --low-light-color: #F8F7FD;
  --low-dark-color: #5E5880;
  --content-index-1: 1 / 1 / 2 / 2;
  --content-index-2: 1 / 2 / 2 / 3;
  --content-index-3: 2 / 1 / 3 / 3;
  --content-display: grid;
  --content-margin: 120px 0;
  --title-font-weight: bold;
  --title-font-size: 1.5rem;
  --p-size: 0.9rem;
}

@media screen and (max-width: 1160px) {
  :root {
    --container-max-width: -webkit-fill-available;
    --container-margin: 0 60px;
    --content-template-col: none;
    --content-template-row: none;
    --content-col-gap: 0;
    --content-row-gap: 40px;
    --content-index-1: none;
    --content-index-2: none;
    --content-index-3: none;
    --content-display: flex;
    --content-gap: 40px;
    --content-margin: 60px 0;
  }
}

@media screen and (max-width: 960px) {
  :root {
    --container-margin: 0 40px;
    --content-margin: 40px 0;
  }
}

@media screen and (max-width: 650px) {
  :root {
    --container-margin: 0 20px;
  }
}

* {
  font-family: 'Poppins';
}

body {
  margin: 0;
  box-sizing: border-box;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  border: none;
  gap: 10px;
  background-color: transparent;
}

h1,
p {
  margin: 0;
}

h1 {
  color: var(--dark-color);
  font-size: var(--title-font-size);
}

p {
  font-size: var(--p-size);
  color: var(--low-dark-color);
}