.btn {
     width: fit-content;
     border-radius: var(--button-border-radius);
     font-size: 1rem;
     font-weight: bold;
     color: var(--accent-color);
     outline: none;
     border: none;
     transition: var(--transition);
     cursor: pointer;
}

.btn:hover {
     transform: scale(1.02);
}

.btn:active {
     background-color: #5943DA;
}

.filled-btn {
     padding: var(--button-padding);
     background-color: var(--accent-color);
     color: #fff !important;
}

.text-btn {
     background-color: transparent;
     color: var(--accent-color) !important;
     font-weight: 500;
     text-decoration: underline;
     transition: all 0.25s ease !important;
}

.text-btn:hover {
     background-color: var(--low-light-color);
     color: var(--accent-color) !important;
}

.input-form {
     display: flex;
     flex-wrap: wrap;
     gap: 20px;
}