.content-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    width: var(--container-width);
    max-width: var(--container-max-width);
    margin: var(--container-margin);
}

.content {
    width: 100%;
    display: flex;
    gap: 40px;
    margin-bottom: var(--content-gap);
}

.content-action {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.btn {
    width: fit-content;
    border-radius: var(--button-border-radius);
    font-size: 1rem;
    font-weight: bold;
    color: var(--accent-color);
    outline: none;
    border: none;
    transition: var(--transition);
    cursor: pointer;
}

.btn:hover {
    transform: scale(1.02);
}

.btn:active {
    background-color: #5943DA;
}

.filled-btn {
    padding: var(--button-padding);
    background-color: var(--accent-color);
    color: #fff !important;
}

.text-btn {
    background-color: transparent;
    color: var(--accent-color) !important;
    font-weight: 400;
    text-decoration: underline;
}

.text-btn:hover {
    background-color: var(--low-light-color);
    color: var(--accent-color) !important;
}


.social-icon {
    cursor: pointer;
    transition: var(--transition);
}

.social-icon:hover {
    background-color: rgba(0, 0, 0, 0.02);
    transform: scale(1.05);
}

.social-icon:active {
    background-color: rgba(0, 0, 0, 0.05);
}

.cards-space {
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

.card {
    max-width: 250px;
    min-width: 200px;
    height: 300px;
    display: flex;
    background-color: #E8E8ED;
    flex-direction: column;
    justify-content: flex-end;
    color: var(--dark-color);
    padding: 15px;
    border-radius: var(--content-border-radius);
    cursor: pointer;
}

.card .card-text {
    color: var(--dark-color);
}

.card.recomended {
    background-color: var(--accent-color);
    color: var(--light-color);
}

.card.recomended .card-text {
    color: var(--light-color);
    font-weight: 400;
}

.card-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.card-text {
    color: var(--dark-color);
    font-size: 1.25rem;
    font-weight: 400;
}

.card.inactive {
    cursor: default !important;
}

.content-title {
    font-size: var(--title-font-size);
    font-weight: var(--title-font-weight);
    color: var(--dark-color);
}

.content-p {
    font-size: var(--p-font-size);
    font-weight: var(--p-font-weight);
    color: var(--low-dark-color);
}


figure {
    margin: 0;
}

.system-images {
    width: 100%;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.system-image-figure {
    width: 540px;
    border-radius: var(--content-border-radius);
}

.system-reports {
    display: flex;
    align-items: center;
    gap: var(--content-gap);
}

.system-report-figure {
    width: 300px;
    height: 350px;
    border-radius: var(--content-border-radius);
    object-fit: cover;
}

.system-reports-content {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
}

.system-report-text {
    font-size: 1.2rem !important;
}

.system-report-actions {
    display: flex;
    align-items: center;
    gap: 15px;
}

.report-action-btn {
    cursor: pointer;
    transition: var(--transition);
}

.report-action-btn.right:hover {
    transform: scale(1.15) translate(7px, 0);
}

.report-action-btn.left:hover {
    transform: scale(1.15) translate(-7px, 0);
}
.report-counter{
    display: flex;
    align-items: center;
    gap: 15px;
}
.counter{
    width: 10px;
    height: 10px;
    border-radius: 25px;
    background-color: #c4c4c4;
}
.counter.active{
    transform: scale(1.5);
    background-color: var(--accent-color);
}
@media screen and (max-width: 1160px) {
    .cards-space {
        display: flex;
        align-items: flex-start;
        gap: 20px;
        flex-wrap: wrap;
    }

    .system-image-figure {
        width: 400px;
    }

    .content {
        width: 100%;
        flex-direction: column;
    }
}

@media screen and (max-width: 960px) {
    .system-image-figure {
        width: 100%;
    }

    .system-reports {
        flex-direction: column;
    }

    .system-report-figure {
        width: 100%;
        height: auto;
        margin-bottom: 60px;
    }

}

@media screen and (max-width: 650px) {
    .card {
        width: 100%;
        max-width: none;
    }
}